services:
  netlib:
    build: .
    ports:
      - "8080:8080"
    environment:
      - ENV=${ENV}
      - ADDR=${ADDR}
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
      - CLOUDFLARE_APP_ID=${CLOUDFLARE_APP_ID}
      - CLOUDFLARE_AUTH_KEY=${CLOUDFLARE_AUTH_KEY}
    depends_on:
      - db
    restart: always

  db:
    image: pgvector/pgvector:pg15
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
